<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.avsdk"
    android:versionCode="42"
    android:versionName="1.7.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <application
        android:name=".QavsdkApplication"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:persistent="true"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        <activity
            android:name=".activity.login_register.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.main.StartActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.tab.ProgramListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.tab.programList.LiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.tab.programList.ParadeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.tab.PersonalCenterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.publish.ReleaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.publish.ReleaseLiveActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.publish.ReleaseParadeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.detail.AvActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".activity.GameOverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReplayListActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.login_register.RegisterActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>